.idea
*/.idea
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
*/*/*/.ipynb_checkpoints
*/*/*/*/.ipynb_checkpoints
mlruns/*
checkpoint/*
checkpoints/*
.ipynb_checkpoints/*
src/notebooks/*
*.log.*
*.log
*.bin
*/*.bin
*/*/*.bin
*/*/*/*.bin
*/*/*/*/*.bin
/wandb
/unsloth_compiled_cache